@import '../../assets/styles/_palette.scss';

.canvas {
    height: 700px;
    margin: auto;
}

.canvas__title {
    padding: 20px 0;
    margin-bottom: 30px;
    font-size: 24px;
}

.canvas__content-header {
    padding: 10px;
}

.canvas__save-button {
    width: 100%;
    float: right;
}

.canvas__content-body {
    height: 80%;
    margin-top: 3%;
}

.canvas__toolbox {
    text-align: center;
    height: 100%;
}

.canvas__draw-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
}

.canvas__draw-place {
    border: 1px solid #ced4da;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.canvas__groups {
    height: 100%;
}

.canvas__shape-selected {
    stroke-dasharray: 5
}