@import '../../assets/styles/_palette.scss';

.canvas__title {
    padding: 20px 0;
    margin-bottom: 30px;
    font-size: 2rem;
}

.canvas__content-header {
    padding: 10px;
}

.canvas__save-button {
    width: 100%;
    float: right;
}

.canvas__content-body {
    min-height: 80%;
    margin-top: 3%;
}

.canvas__toolbox {
    height: 100%;
    text-align: center;
}

.canvas__draw-wrapper {
    padding-bottom: calc(100% * 3/4);
    position: relative;

    .inner {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.canvas__groups {
    height: 100%;
}

.canvas__shape-selected {
    stroke-dasharray: 5;
    cursor: pointer;
}