.toolbox__tool {
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    cursor: pointer;
}

.toolbox__tool-selected {
    outline: 1px dashed;
}

.toolbox__tool-disabled {
    pointer-events: none;
}