@import 'assets/styles/_palette.scss';

.landing {
    background-color: unset;
    color: $color10;

    @media (max-width: 768px) {
        .display-1 {
            font-size: 3.5rem;
        }
    }
}