$color1: #FFCCBC;
$color2: #FFAB91;
$color3: #FF8A65;
$color4: #FF7043;
$color5: #FF5722;
$color6: #F4511E;
$color7: #E64A19;
$color8: #D84315;
$color9: #BF360C;
$color10: #FFFFFF;
$color11: #000000;
$color12: #FF5722;