@import 'bootstrap/scss/bootstrap.scss';
@import './_palette.scss';
@import './_base.scss';
@import 'react-redux-toastr/src/styles/index';


* {
    box-sizing: border-box;
}

html,
body,
#root {
    background-color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Spinner */
.sk-cube-grid-overlay {
    background-color: rgba(255, 255, 255, .95);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.sk-cube-center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.sk-cube-grid {
    height: 5rem;
    margin: 0 auto;
    width: 5rem;
}
.sk-cube-grid .sk-cube {
    width: calc(100% / 3);
    height: calc(100% / 3);
    background-color: $color5;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
    } 
}

/* Bootstrap fixes */
.nav {
    width: 100%;
}

.nav-link {
    cursor: pointer;

    &:focus {
        box-shadow: unset;
        outline: 0;
    }
}

.nav-item {
    .vac-btn-primary {
        padding: 0.5rem 1rem;
    }
}

.form-control {
    outline: 0;

    &:focus {
        box-shadow: unset;
        border-color: $color1;
        outline: 0;
    }
}

/* Vac styles */
body {
    overflow-y: scroll;
}

.main {
    background-color: #F8F8F8;
    height: 100%;
    padding-top: 110px;
    position: relative;

    @media (min-width: 992px) {
        padding-top: 150px;
    }

    &.landing {
        background-image: url('../images/art.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

.nav-tabs {
    .nav-link {
        border-radius: 0;
    }
}

.vac-table {
    td {
        vertical-align: middle;
    }
}

.vac-card-header {
    background-color: #e2e3e5;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.vac-page-title {
    background-color: #fff;
    font-size: 2rem;
}

.vac-page-body {
    min-height: 65vh;
}

.vac-btn-primary {
    background-color: $color5;
    border: 1px solid $color5;
    color: $color10;
    outline: $color5;

    &:disabled {
        background-color: $color4;
        border: 1px solid $color4;
        cursor: not-allowed;
        color: $color10;
        outline: $color4;
    }

    &:hover {
        background-color: $color4;
        border: 1px solid $color4;
        color: $color10;
        outline: $color4;
    }

    &:focus {
        box-shadow: unset;
        border: 0;
    }
}

.Select.form-control {
    padding: 0;

    .Select-control {
        border: 0;
    }

    .Select-menu-outer {
        box-shadow: unset;
    }
}