@import 'bootstrap/scss/bootstrap.scss';
@import './_palette.scss';
@import './_base.scss';


* {
    box-sizing: border-box;
}

html,
body,
#root {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Bootstrap fixes */
.nav {
    width: 100%;
}

.main {
    height: 100%;
    padding-top: 7%;
    position: relative;

    &.landing {
        background-image: url('../images/art.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

.vac-btn-primary {
    background-color: $color5;
    color: $color10;

    &:hover {
        background-color: $color4;
        color: $color10;
    }
}